@media (max-width: 780) {
  .submit-button {
    border: 1px solid red;
    .proceedbtn {
      text-align: center;

      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px !important;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.upload-container {
  // ... your existing upload-container styles ...
}
