:root {
  --bg-color: #fc5275;
  --txt-color: white;
}

.checkout {
  background-color: var(--checkoutTableButtonColor) !important;
  color: var(--bg-color) !important;
}

.check-out-details {
  width: 35% !important;
}

.checkoutProgress {
  background-color: #ffbdcb !important;
}

.checkoutProgress-fill {
  background-color: var(--bg-color) !important;
}

.donation-paid {
  color: #a3d65c;
}

.donation-not-paid {
  color: var(--bg-color);
}
