.donation-action-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff1f0;
  margin-top: 22px;
}

.donation-total-amount {
  display: flex;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;

  span:first-child {
    color: #333;
  }

  span:last-child {
    font-weight: 600;
  }
}

.donation-actions {
  display: flex;
  gap: 12px;
}

.donation-action-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.9;
  }

  i {
    font-size: 16px;
  }

  &.consent-letter {
    background-color: #e6e9ff;
    color: #6366f1;
    border: 1px solid #6366f1 !important;
  }

  &.thank-letter {
    background-color: #dcfce7;
    color: #22c55e;
    border: 1px solid #22c55e !important;
  }

  &.pending {
    background-color: #fef9c3;
    color: #ca8a04;
    border: 1px solid #ca8a04 !important;
  }

  &.print-receipt {
    background-color: #8b5cf6;
    color: white;
    // border: 1px solid #8b5cf6 !important;
  }

  border: 1px solid #ccc;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.confirmation-modal {
  background: white;
  padding: 2rem 3rem;
  border-radius: 8px;
  text-align: center;
  max-width: 500px;
  width: 90%;
}

.warning-icon {
  margin-bottom: 1rem;
  color: #ffa500;
}

.modal-actions {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 2rem;
}

.cancel-btn {
  padding: 0.5rem 2rem;
  border: 1px solid #ccc;
  background: white;
  border-radius: 4px;
  cursor: pointer;
}

.confirm-btn {
  padding: 0.5rem 2rem;
  background: #8b5cf6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.donation-action-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.donation-action-btn:disabled:hover {
  background: transparent;
}
